CameRoomWeb/CameRoomWeb/Service References/CameRoomService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49894/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49894/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49894/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:49894/Service.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProvinceList_InputMessage">
    <wsdl:part name="parameters" element="tns:getProvinceList" />
  </wsdl:message>
  <wsdl:message name="IService_getProvinceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProvinceListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getPlaceListByProvinceID_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlaceListByProvinceID" />
  </wsdl:message>
  <wsdl:message name="IService_getPlaceListByProvinceID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlaceListByProvinceIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_insertGrapherRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:insertGrapherRegister" />
  </wsdl:message>
  <wsdl:message name="IService_insertGrapherRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertGrapherRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_insertGrapherRegisterMapEarningRate_InputMessage">
    <wsdl:part name="parameters" element="tns:insertGrapherRegisterMapEarningRate" />
  </wsdl:message>
  <wsdl:message name="IService_insertGrapherRegisterMapEarningRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertGrapherRegisterMapEarningRateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getGrapherProfileByGrapherID_InputMessage">
    <wsdl:part name="parameters" element="tns:getGrapherProfileByGrapherID" />
  </wsdl:message>
  <wsdl:message name="IService_getGrapherProfileByGrapherID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGrapherProfileByGrapherIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getGrapherEarningRateProfileByGrapherIDandEventTypeID_InputMessage">
    <wsdl:part name="parameters" element="tns:getGrapherEarningRateProfileByGrapherIDandEventTypeID" />
  </wsdl:message>
  <wsdl:message name="IService_getGrapherEarningRateProfileByGrapherIDandEventTypeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGrapherEarningRateProfileByGrapherIDandEventTypeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getGrapherForBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:getGrapherForBooking" />
  </wsdl:message>
  <wsdl:message name="IService_getGrapherForBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGrapherForBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProvinceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProvinceList" message="tns:IService_getProvinceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProvinceListResponse" message="tns:IService_getProvinceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPlaceListByProvinceID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getPlaceListByProvinceID" message="tns:IService_getPlaceListByProvinceID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getPlaceListByProvinceIDResponse" message="tns:IService_getPlaceListByProvinceID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertGrapherRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/insertGrapherRegister" message="tns:IService_insertGrapherRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/insertGrapherRegisterResponse" message="tns:IService_insertGrapherRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertGrapherRegisterMapEarningRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/insertGrapherRegisterMapEarningRate" message="tns:IService_insertGrapherRegisterMapEarningRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/insertGrapherRegisterMapEarningRateResponse" message="tns:IService_insertGrapherRegisterMapEarningRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGrapherProfileByGrapherID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getGrapherProfileByGrapherID" message="tns:IService_getGrapherProfileByGrapherID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getGrapherProfileByGrapherIDResponse" message="tns:IService_getGrapherProfileByGrapherID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGrapherEarningRateProfileByGrapherIDandEventTypeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getGrapherEarningRateProfileByGrapherIDandEventTypeID" message="tns:IService_getGrapherEarningRateProfileByGrapherIDandEventTypeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getGrapherEarningRateProfileByGrapherIDandEventTypeIDResponse" message="tns:IService_getGrapherEarningRateProfileByGrapherIDandEventTypeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGrapherForBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getGrapherForBooking" message="tns:IService_getGrapherForBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getGrapherForBookingResponse" message="tns:IService_getGrapherForBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProvinceList">
      <soap:operation soapAction="http://tempuri.org/IService/getProvinceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlaceListByProvinceID">
      <soap:operation soapAction="http://tempuri.org/IService/getPlaceListByProvinceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGrapherRegister">
      <soap:operation soapAction="http://tempuri.org/IService/insertGrapherRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGrapherRegisterMapEarningRate">
      <soap:operation soapAction="http://tempuri.org/IService/insertGrapherRegisterMapEarningRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGrapherProfileByGrapherID">
      <soap:operation soapAction="http://tempuri.org/IService/getGrapherProfileByGrapherID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGrapherEarningRateProfileByGrapherIDandEventTypeID">
      <soap:operation soapAction="http://tempuri.org/IService/getGrapherEarningRateProfileByGrapherIDandEventTypeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGrapherForBooking">
      <soap:operation soapAction="http://tempuri.org/IService/getGrapherForBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:49894/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>