CameRoomWeb/CameRoomWeb/Service References/CameRoomService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49894/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProvinceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProvinceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProvinceListResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlaceListByProvinceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provinceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlaceListByProvinceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPlaceListByProvinceIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertGrapherRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrapherEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherPersonalID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherPhoto" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="GrapherMobileNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherSex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertGrapherRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertGrapherRegisterResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertGrapherRegisterMapEarningRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrapherID" type="xs:long" />
        <xs:element minOccurs="0" name="EventTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="MorningRate" type="xs:double" />
        <xs:element minOccurs="0" name="AfternoonRate" type="xs:double" />
        <xs:element minOccurs="0" name="EveningRate" type="xs:double" />
        <xs:element minOccurs="0" name="FullDayRate" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertGrapherRegisterMapEarningRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertGrapherRegisterMapEarningRateResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherProfileByGrapherID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrapherID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherProfileByGrapherIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGrapherProfileByGrapherIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherPersonalID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherMobileNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrapherSex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherEarningRateProfileByGrapherIDandEventTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrapherID" type="xs:long" />
        <xs:element minOccurs="0" name="EventTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherEarningRateProfileByGrapherIDandEventTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGrapherEarningRateProfileByGrapherIDandEventTypeIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MorningRate" type="xs:double" />
        <xs:element minOccurs="0" name="AfternoonRate" type="xs:double" />
        <xs:element minOccurs="0" name="EveningRate" type="xs:double" />
        <xs:element minOccurs="0" name="FulldayRate" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherForBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingDatetime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookingTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="eventType" type="xs:int" />
        <xs:element minOccurs="0" name="provinceID" type="xs:int" />
        <xs:element minOccurs="0" name="placeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherForBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGrapherForBookingResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingDatetime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookingTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="grapherID" type="xs:int" />
        <xs:element minOccurs="0" name="eventType" type="xs:int" />
        <xs:element minOccurs="0" name="provinceID" type="xs:int" />
        <xs:element minOccurs="0" name="placeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertBookingResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="bookingID" type="xs:long" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grapherID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrapherImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGrapherImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>